<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>个人资料</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/Invite_bids/libs/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/Invite_bids/libs/bootstrap/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="/Invite_bids/libs/iconfont/iconfont.css"/>

    <link rel="stylesheet" href="/Invite_bids/css/child_pages.css"/>

    <!--[if lt IE 9]>
    <script src="/Invite_bids/libs/html5shiv.min.js"></script>
    <script src="/Invite_bids/libs/bootstrap/js/respond.min.js"></script>
    <![endif]-->
    <script src="/Invite_bids/libs/jquery-1.11.1.min.js"></script>
    <script src="/Invite_bids/libs/jquery.placeholder.min.js"></script>
    <script src="/Invite_bids/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Invite_bids/libs/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/Invite_bids/libs/avalon.min.js"></script>

    <script src="/Invite_bids/js/main.js"></script>
    <script src="/Invite_bids/js/get_connect/code.js"></script>
    <script src="/Invite_bids/js/get_connect/connect_http.js"></script>
    <script src="/Invite_bids/js/get_connect/return_data.js"></script>

    <script>
        document.write(' <link rel="stylesheet" href="/Invite_bids/css/child_pages.css?time='+ new Date().getTime() +'"/>');
        document.write(' <script src="/Invite_bids/js/system_manage/uers_info.js?time=' + new Date().getTime() + '"></s' + 'cript>');
    </script>
</head>
<body class="ms-controller" ms-controller="root" onload="IFrameResize()">
<div class="page-password">
    <div class="personal-info">
        <div class="personal-title"> 个人资料</div>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-md-2 col-sm-2 control-label">
                    <i class="icon iconfont icon-text-sign icon-sign"></i>姓名：
                </label>
                <div class="col-md-3">
                    <input type="text" class="form-control full-name" ms-duplex="@info.Name" ms-on-change="@inputVal('.full-name')">
                    <span class="error-texe">姓名不能为空！</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 col-sm-2 control-label">
                    <i class="icon iconfont icon-text-sign icon-sign"></i>工号：
                </label>
                <div class="col-md-3">
                    <input type="text" class="form-control work-number" ms-duplex="@info.WorkNumber" ms-on-change="@inputVal('.work-number')">
                    <span class="error-texe">工号不能为空！</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 col-sm-2 control-label">性别：</label>
                <div class="col-md-3">
                    <label class="radio-inline">
                        <input type="radio" name="sex" value="男" ms-duplex="@info.Sex"> 男
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="sex" value="女" ms-duplex="@info.Sex" > 女
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 col-sm-2 control-label">联系方式：</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" ms-duplex="@info.Phone">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 col-sm-2 control-label">所属部门：</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" ms-attr="{'value':@info.DepartmentName}" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 col-sm-2 control-label">账号类型：</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" ms-attr="{'value':@info.RoleName}" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 col-sm-2 control-label">职务名称：</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" ms-duplex="@info.DutyName">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 col-sm-2 control-label">岗位名称：</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" ms-duplex="@info.PostName">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 col-sm-2 control-label">岗位类型：</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" ms-duplex="@info.PostType">
                </div>
            </div>
        </form>
        <div class="modal-footer submit-wrapper">
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-11 submit-box">
                    <button type="button" class="btn btn-primary" ms-on-click="@clickSubmit">保存</button>
                    <div class="tip-box"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>