<div class="modal-content ms-controller add-user" ms-controller="Add">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="NoPermissionModalLabel">添加及管理合并项目</h4>
    </div>
    <div class="modal-body add-project-merge">
        <div class="item-left col-md-6 col-sm-6">
            <form class="form-horizontal">
                <div class="screen-box">
                    <div class="form-inline">
                        <p class="title-text">可合并的项目列表 <span>当前剩余：{{total}} 项</span></p>
                        <div class="row search-box">
                            <div class="form-group col-md-8 col-sm-8">
                                <label>项目名称 </label>
                                <input type="text" class="form-control like-name" ms-duplex="@req.LikeName"
                                       ms-keydown="@submit">
                                <a class="search-name" href="javascript:;">
                                    <i class="icon iconfont icon-sousuo"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="personnel-list">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="number">序号</th>
                            <th>项目名称</th>
                            <th>总价(元)</th>
                            <th class="operation">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ms-for="el in @model" ms-if="@loaded && @model!= null && @model.length != 0&&el.ExecuteProject.Id!=oneselfId">
                            <td class="number text-center">{{el.number}}</td>
                            <td class="text-left">{{el.ExecuteProject.Name}}</td>
                            <td>{{el.ExecuteProject.TotalExecuteAmount|currency}}</td>
                            <td class="operation">
                                <ul>
                                    <li class="bs-tooltip btn-details" data-toggle="tooltip" data-placement="bottom"
                                        title="详情">
                                        <a data-toggle="modal" data-target=".modal-details"
                                           href="../budget_manage/budget_details.html"
                                           ms-on-click="@clickDetails(el)"
                                           onclick="changeUrlChoice(this,'.modal-details')">
                                            <i class="icon iconfont icon-16"></i>
                                        </a>
                                    </li>
                                    <li class="bs-tooltip btn-details">
                                        <a class="added" href="JavaScript:;" ms-on-click="@clickAdd(el)">
                                            <span class="btn-add" ms-if="!el.checked">添加</span>
                                            <span class="btn-remove" ms-if="el.checked">取消</span>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div ms-if="@nothing">
                    <p class="text-center"><img src="/Invite_bids/images/nothing-3.png"></p>
                </div>
            </div>
            <div class="page paging text-center" ms-if="!@nothing">
                <div class="pager paging"></div>
            </div>
        </div>
        <div class="item-right  col-md-6 col-sm-6">
            <div class="screen-box">
                <div class="form-inline">
                    <p class="title-text">当前已选项目<span>共计：{{@selectedModel.length}} 项</span></p>
                </div>
            </div>
            <div class="personnel-list">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="number">序号</th>
                            <th>项目名称</th>
                            <th>总价(元)</th>
                            <th class="operation">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ms-for="($index,el) in @selectedModel" ms-if="@selectedModel!= null&&@selectedModel.length!=0">
                            <td class="number text-center">{{$index+1}}</td>
                            <td class="text-left">{{el.ExecuteProject.Name}}</td>
                            <td>{{el.ExecuteProject.TotalExecuteAmount|currency}}</td>
                            <td class="operation">
                                <ul>
                                    <li class="bs-tooltip btn-del" data-toggle="tooltip" data-placement="bottom" title="删除">
                                        <a data-toggle="modal" data-target=".modal-del" href="javascript:;"
                                           ms-on-click="@addModel(el)">
                                            <i class="icon iconfont icon-shanchu1"></i>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div ms-if="@selectedModel.length==0">
                    <p class="text-center"><img src="/Invite_bids/images/nothing-3.png"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer submit-wrapper">
        <div class="form-group">
            <div class="submit-box text-center">
                <button type="button" class="btn btn-primary btn-submit" ms-on-click="@clickSubmit()">确认提交</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ms-on-click="@clickBtnReturn">返回
                </button>
                <div class="tip-box"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/Invite_bids/js/project_execute/add_project_merge.js"></script>
