<script src="/Invite_bids/js/project_execute/select_expert.js" type="text/javascript"></script>
<div class="modal-content ms-controller choiceRoot" ms-controller="choiceRoot">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true" ms-on-click="@clickBtnReturn">&times;</span></button>
        <h4 class="modal-title" id="NoPermissionModalLabel">选择专家</h4>
    </div>
    <div class="modal-body">
        <div class="screen-box">
            <div class="form-inline">
                <div class="form-group">
                    <a class="btn btn-success btn-batchChoice" ms-on-click="@batchChoice()" href="javascript:;">
                        <i class="icon iconfont icon-wancheng"></i> 确认已选
                    </a>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">专家姓名</div>
                        <input type="text" class="form-control name" ms-duplex="@req.LikeAllName" ms-keydown="@submit">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">所在单位名称</div>
                        <input type="text" class="form-control name" ms-duplex="@req.LikeCompany" ms-keydown="@submit">
                    </div>
                </div>
                <a class="btn btn-primary btn-search" href="javascript:;" ms-on-click="@search()">查询</a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th class="checkbox-box">
                        <div class="checkbox">
                            <label class="bs-tooltip" href="javascript:;" title="全选" data-toggle="tooltip" data-placement="bottom">
                                <input class="select-all" type="checkbox" ms-duplex-checked="@allchecked"
                                       data-duplex-changed="@checkAll"/>
                            </label>
                        </div>
                    </th>
                    <th width="80">序号</th>
                    <th>专家名称</th>
                    <th>部门</th>
                    <th>所在单位</th>
                    <th>专业品目</th>
                </tr>
                </thead>
                <tbody>
                <tr ms-for="($index,el) in @model" ms-if="@loaded && @model!= null && @model.length != 0">
                    <td class="checkbox-box">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="item-checkbox" ms-duplex-checked="el.checked"
                                       data-duplex-changed="@checkOne($event,el)"/>
                            </label>
                        </div>
                    </td>
                    <td>{{el.number}}</td>
                    <td>{{el.Name}}</td>
                    <td>{{el.DepartmentName}}</td>
                    <td>{{el.Company}}</td>
                    <td>{{el.ItemName}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="nothing" ms-if="@loaded && (@model== null || @model.length == 0)">
            <p class="text-center"><img src="/Invite_bids/images/nothing-3.png"></p>
        </div>
        <div class="page paging text-center">
            <div class="pager paging"></div>
        </div>
    </div>
</div>
