<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>预算管理-预算列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/Invite_bids/libs/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/Invite_bids/libs/bootstrap/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="/Invite_bids/libs/bootstrap/css/bootstrap-multiselect.css"/>
    <link rel="stylesheet" href="/Invite_bids/libs/mCustomScrollbar/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="/Invite_bids/libs/iconfont/iconfont.css"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/Invite_bids/libs/html5shiv.js"></script>
    <script type="text/javascript" src="/Invite_bids/libs/bootstrap/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/Invite_bids/libs/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/Invite_bids/libs/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="/Invite_bids/libs/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Invite_bids/libs/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/Invite_bids/libs/bootstrap/js/bootstrap-multiselect.js"></script>
    <script type="text/javascript"
            src="/Invite_bids/libs/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript" src="/Invite_bids/libs/avalon.min.js"></script>
    <script type="text/javascript" src="/Invite_bids/js/pager.js"></script>
    <script type="text/javascript" src="/Invite_bids/js/main.js"></script>
    <script type="text/javascript" src="/Invite_bids/js/get_connect/code.js"></script>
    <script type="text/javascript" src="/Invite_bids/js/get_connect/connect_http.js"></script>
    <script type="text/javascript" src="/Invite_bids/js/get_connect/return_data.js"></script>
    <script type="text/javascript" src="/Invite_bids/js/file_upload.js"></script>

    <script>
        document.write(' <link rel="stylesheet" href="/Invite_bids/css/child_pages.css?time=' + new Date().getTime() + '"/>');
        document.write(' <script type="text/javascript" src="/Invite_bids/js/budget_manage/budget_list.js?time=' + new Date().getTime() + '"></s' + 'cript>');

    </script>

</head>
<body ms-controller="root" class="ms-controller" onload="IFrameResize()">
<div class="page-declare page-budget-enter page-common page-paper">
    <div class="main">
        <div class="row screen-box">
            <div class="form-inline">
                <div class="col-md-10 col-sm-10 left">
                    <div class="form-group">
                        <label>项目状态</label>
                        <ul class="select-ul">
                            <li ms-class="getClass(0)" ms-on-click="clickState($event,0)">
                                <a href="javascript:;">待论证</a>
                            </li>
                            <li ms-class="getClass(1)" ms-on-click="clickState($event,1)">
                                <a href="javascript:;">论证通过</a>
                            </li>
                            <li ms-class="getClass(2)" ms-on-click="clickState($event,2)">
                                <a href="javascript:;">论证不通过</a>
                            </li>
                            <li ms-class="getClass(3)" ms-on-click="clickState($event,3)">
                                <a href="javascript:;">待预算执行</a>
                            </li>
                            <li ms-class="getClass(4)" ms-on-click="clickState($event,4)">
                                <a href="javascript:;">已完成预算</a>
                            </li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label>采购目录类型</label>
                        <select class="form-control roles" ms-on-change="changeCenterPurchase($event)"
                                ms-duplex="@req.IsCenterPurchase">
                            <option value="">全部</option>
                            <option value="true">政府集中采购目录</option>
                            <option value="false">非政府集中采购目录</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>采购对象</label>
                        <select class="form-control roles" ms-on-change="changeProjectType($event)"
                                ms-duplex="@req.ProjectType">
                            <option value="">全部</option>
                            <option value="货物">货物</option>
                            <option value="工程">工程</option>
                            <option value="服务">服务</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 right">
                    <div class="form-group year-box">
                        <label>年度</label>
                        <input type="text" class="form-control form-year" ms-duplex="@req.Year"
                               ms-keydown="@submit" readonly>
                    </div>
                </div>
                <hr class="col-md-12 col-sm-12">
                <div class="left">
                    <div class="form-group">
                        <label>项目名称</label>
                        <input type="text" class="form-control like-name" ms-duplex="@req.LikeName"
                               ms-keydown="@submit">
                        <a class="search-name" href="javascript:;" ms-on-click="@search">
                            <i class="icon iconfont icon-sousuo"></i>
                        </a>
                    </div>
                    <div class="form-group money-box">
                        <label>预算金额</label>
                        <div class="input-group">
                            <input type="text" class="form-control" ms-duplex="@req.BeginTotalBudgetAmount"
                                   onkeyup="onlyNum(this)"
                                   ms-keydown="@submit">
                            <div class="input-group-addon">至</div>
                            <input type="text" class="form-control" ms-duplex="@req.EndTotalBudgetAmount"
                                   onkeyup="onlyNum(this)"
                                   ms-keydown="@submit">
                        </div>
                    </div>
                    <a class="btn btn-primary btn-search" href="javascript:;" ms-on-click="@search()">查询</a>
                </div>
            </div>
        </div>
        <div class="personnel-box">
            <div class="row">
                <div class="col-md-8 col-sm-8 left total-box">
                    <p>当前项目总数：{{@total}} 条</p>
                </div>
            </div>
            <div class="personnel-list clearfix">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="checkbox-box">
                                <div class="checkbox">
                                    <label class="bs-tooltip" href="javascript:;" title="全选" data-toggle="tooltip"
                                           data-placement="bottom">
                                        <input class="select-all" type="checkbox" ms-duplex-checked="@allchecked"
                                               data-duplex-changed="@checkAll"/>
                                    </label>
                                </div>
                            </th>
                            <th class="number">序号</th>
                            <th class="name">项目名称</th>
                            <th>预算金额(元)</th>
                            <th>归口管理部门</th>
                            <th>采购目录类型</th>
                            <th>采购对象</th>
                            <th>预算状态</th>
                            <th class="operation">项目详情</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ms-for="el in @model" ms-if="@loaded && @model!= null && @model.length != 0">
                            <td class="checkbox-box">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="item-checkbox" ms-duplex-checked="el.checked"
                                               data-duplex-changed="@checkOne($event,el)"/>
                                    </label>
                                </div>
                            </td>
                            <td class="number text-center">{{el.number}}</td>
                            <td class="text-left">{{el.BudgetProject.Name}}</td>
                            <td>
                                <span ms-if="@activeIndex==0">{{el.BudgetProject.TotalDeclareAmount|currency}}</span>
                                <span ms-if="@activeIndex!=0">{{el.BudgetProject.TotalBudgetAmount|currency}}</span>
                            </td>
                            <td>{{el.BudgetProject.RelevantDepartmentName}}</td>
                            <td>{{el.BudgetProject.IsCenterPurchase?'政府集中采购目录':'非政府集中采购目录'}}</td>
                            <td>{{el.BudgetProject.ProjectType}}</td>
                            <td ms-class="getStateClass(el.BudgetProject.LastStepStateName)" ms-if="@activeIndex!=0">
                                {{el.BudgetProject.StateName}} - {{el.BudgetProject.LastStepStateName}}
                            </td>
                            <td ms-class="getStateClass('待论证')" ms-if="@activeIndex==0">未完成 - 待论证</td>
                            <td class="operation">
                                <ul>
                                    <li class="bs-tooltip" ms-class="getFlowClass(el.BudgetProject.LastStepStateName)"
                                        ms-attr="{'title':el.BudgetProject.LastStepStateName}"
                                        ms-if="el.BudgetProject.IsCanOperate">
                                        <a href="javascript:;" ms-on-click="@clickBtnEdit(el)">
                                            <i class="icon iconfont"
                                               ms-class="@el.BudgetProject.LastStepTemplateStyle"></i>
                                        </a>
                                    </li>
                                    <li class="bs-tooltip btn-details" data-toggle="tooltip" data-placement="bottom"
                                        title="查看详情">
                                        <a data-toggle="modal" data-target=".modal-details"
                                           href="budget_details.html" ms-on-click="@clickDetails(el)"
                                           onclick="changeUrlChoice(this,'.modal-details')">
                                            <i class="icon iconfont icon-16"></i>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div ms-if="@nothing">
                    <p class="text-center"><img src="/Invite_bids/images/nothing-3.png"></p>
                </div>
            </div>
            <div class="page paging text-center">
                <div class="pager paging"></div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-add" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg"></div>
    </div>
    <div class="modal fade modal-details" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg"></div>
    </div>
</div>
</body>
</html>