<div class="modal-content ms-controller add-user" ms-controller="upload">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="NoPermissionModalLabel">确认进入</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">

            <div class="fileUpload-box  col-md-9 col-sm-9 col-sm-offset-1">
                <div class="item-top">
                    <span>请上传预算审核批复</span>
                    <div class="file-box">
                        <input type="file" id="apply-upload" class="input-file" name="fileUpload"
                               ms-on-click="@upload($event,@apply)">

                        <a class="file-text btn btn-primary" href="javascript:;">上传附件</a>
                    </div>
                </div>
                <div class="file col-md-12 col-sm-12">
                    <a class="file-name col-md-11 col-sm-11" ms-if="@apply.FileName"
                       ms-attr="{'href':apply.Url}" download="">{{@apply.FileName}}</a>
                    <span class="file-name col-md-11 col-sm-11" ms-if="!@apply.FileName">暂未上传附件</span>
                    <a class="btn-del" ms-if="@apply.FileName" href="javascript:;"
                       ms-on-click="btnDel(apply)">
                        <i class="icon iconfont icon-shanchu"></i>
                    </a>
                </div>
                <span class="remarks">注：确认进入预算后，不可撤销，是否确认以上操作。</span>
            </div>
        </form>
    </div>
    <div class="modal-footer submit-wrapper">
        <div class="form-group">
            <div class="submit-box text-center">
                <button type="button" class="btn btn-primary btn-submit" ms-on-click="@clickSubmit()">确认进入</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ms-on-click="@clickBtnReturn">取消
                </button>
                <div class="tip-box"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/Invite_bids/js/budget_manage/upload_budget_file.js"></script>
