<div class="modal-content ms-controller add-user" ms-controller="details">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="NoPermissionModalLabel">查看详情</h4>
    </div>
    <div class="modal-body">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active">
                <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">基本信息</a>
            </li>
            <li role="presentation">
                <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">{{name}}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" id="tab1" class="tab-pane active">
                <form class="form-horizontal">
                    <div class="col-sm-12">
                        <h5 class="title"><span>基本信息</span></h5>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">项目名称：</label>
                            <div class="col-sm-7">
                                <span>{{@model.BudgetProject.Name}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">归档管理部门：</label>
                            <div class="col-sm-7">
                                <span>{{@model.BudgetProject.RelevantDepartmentId}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">项目联系人：</label>
                            <div class="col-sm-7">
                                <span>{{@model.BudgetProject.LinkmanName}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">联系电话：</label>
                            <div class="col-sm-7">
                                <span>{{@model.BudgetProject.LinkmanPhone}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">是否为政府集中采购：</label>
                            <div class="col-sm-7">
                                <span>{{@model.BudgetProject.IsCenterPurchase?'是':'否'}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">数量：</label>
                            <div class="col-sm-7">
                                <span>{{@declareNumber}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">预算类型：</label>
                            <div class="col-sm-7">
                                <span>{{@model.BudgetProject.MergeTypeWhenBudget}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">预算金额(元)：</label>
                            <div class="col-sm-7">
                                <span>{{@allPrice|currency}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">采购方式：</label>
                            <div class="col-sm-7">
                                <span>{{@model.BudgetProject.PurchaseMethod}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">品目名称：</label>
                            <div class="col-sm-7">
                                <span>{{@allName}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">项目拟实施时间：</label>
                            <div class="col-sm-7">
                                <span>{{@model.BudgetProject.TimePlanToImplement|date("yyyy-MM")}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">采购对象：</label>
                            <div class="col-sm-7">
                                <span>{{@model.BudgetProject.ProjectType}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 fileUpload-box">
                        <h5 class="title"><span>申报申请</span></h5>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">申报原因：</label>
                            <div class="col-sm-7">
                                <span>{{@model.BudgetProject.Reason}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">申报年度：</label>
                            <div class="col-sm-7">
                                <span>{{@model.BudgetProject.Year|date("yyyy")}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label">申请文件：</label>
                            <div class="form-group col-sm-8 items">
                                <a class="name" ms-attr="{'href':@model.BudgetProject.Attachment}" download="">{{@getHtmlDocName(@model.BudgetProject.Attachment)}}</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div role="tabpanel" id="tab2" class="tab-pane">
                <form class="form-horizontal content ">
                </form>
                <div class="item" ms-if="@model.BudgetProject.ISCenterPurchase&&@isGoods">
                    <h4 class="text-center auditing-title">项目概况</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th width="60">序号</th>
                                <th>单项名称</th>
                                <th>技术要求</th>
                                <th>单位</th>
                                <th>数量</th>
                                <th>单价(元)</th>
                                <th>合计(元)</th>
                                <th>备注</th>
                                <th>是否为进口产品</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ms-for="($index,el) in @model.Package">
                                <td>{{$index+1}}</td>
                                <td>{{el.ItemName}}</td>
                                <td>{{el.DeclareTechnicalRequirements}}</td>
                                <td>{{el.Unit}}</td>
                                <td>{{el.DeclareNumber}}</td>
                                <td>{{el.DeclareUnitPrice|currency}}</td>
                                <td>{{(el.DeclareNumber*el.DeclareUnitPrice)|currency}}</td>
                                <td>{{el.Remark}}</td>
                                <td>{{el.IsImported?'是':'否'}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ms-if="@model.Package.length==0||@model.Package==null">
                        <p class="text-center"><img src="/Invite_bids/images/nothing-3.png"></p>
                    </div>
                </div>
                <div class="item" ms-if="@model.BudgetProject.ISCenterPurchase&&!@isGoods">
                    <h4 class="text-center auditing-title">项目概况</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th width="60">序号</th>
                                <th>单项名称</th>
                                <th>技术要求</th>
                                <th>合计(元)</th>
                                <th>备注</th>
                                <th>是否为进口产品</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ms-for="($index,el) in @model.Package">
                                <td>{{$index+1}}</td>
                                <td>{{el.ItemName}}</td>
                                <td>{{@getHtmlDocName(el.Attachment)}}</td>
                                <td>{{el.DeclareUnitPrice|currency}}</td>
                                <td>{{Remark}}</td>
                                <td>{{el.IsImported?'是':'否'}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ms-if="@model.Package.length==0||@model.Package==null">
                        <p class="text-center"><img src="/Invite_bids/images/nothing-3.png"></p>
                    </div>
                </div>
                <div class="item" ms-if="!@model.BudgetProject.ISCenterPurchase">
                    <h4 class="text-center auditing-title">采购需求</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th width="60">包号</th>
                                <th>包名称</th>
                                <th>预算金额(元)</th>
                                <th>采购品目</th>
                                <th>技术要求</th>
                                <th>是否为进口产品</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ms-for="($index,el) in @model.Package">
                                <td>第{{$index+1}}包</td>
                                <td>{{el.Name}}</td>
                                <td>{{el.DeclareUnitPrice|currency}}</td>
                                <td>{{el.ItemName}}</td>
                                <td>{{@getHtmlDocName(el.Attachment)}}</td>
                                <td>{{el.IsImported?'是':'否'}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ms-if="@model.Package.length==0||@model.Package==null">
                        <p class="text-center"><img src="/Invite_bids/images/nothing-3.png"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer submit-wrapper">
        <div class="form-group">
            <div class="submit-box text-center">
                <button type="button" class="btn btn-default" data-dismiss="modal" ms-on-click="@clickBtnReturn">关闭
                </button>
                <div class="tip-box"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/Invite_bids/js/project_argumentation/budget_details.js"></script>
