<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>集采项目合并</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/Invite_bids/libs/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/Invite_bids/libs/bootstrap/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="/Invite_bids/libs/mCustomScrollbar/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="/Invite_bids/libs/bootstrap/css/bootstrap-multiselect.css"/>
    <link rel="stylesheet" href="/Invite_bids/libs/iconfont/iconfont.css"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/Invite_bids/libs/html5shiv.js"></script>
    <script type="text/javascript" src="/Invite_bids/libs/bootstrap/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/Invite_bids/libs/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/Invite_bids/libs/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="/Invite_bids/libs/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Invite_bids/libs/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/Invite_bids/libs/bootstrap/js/bootstrap-multiselect.js"></script>
    <script type="text/javascript"
            src="/Invite_bids/libs/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript" src="/Invite_bids/libs/avalon.min.js"></script>
    <script type="text/javascript" src="/Invite_bids/js/pager.js"></script>
    <script type="text/javascript" src="/Invite_bids/js/main.js"></script>
    <script type="text/javascript" src="/Invite_bids/js/get_connect/code.js"></script>
    <script type="text/javascript" src="/Invite_bids/js/get_connect/connect_http.js"></script>
    <script type="text/javascript" src="/Invite_bids/js/get_connect/return_data.js"></script>

    <script>
        document.write(' <link rel="stylesheet" href="/Invite_bids/css/child_pages.css?time=' + new Date().getTime() + '"/>');
        document.write(' <script type="text/javascript" src="/Invite_bids/js/project_argumentation/collection_project_merger.js?time=' + new Date().getTime() + '"></s' + 'cript>');

    </script>

</head>
<body ms-controller="root" class="ms-controller" onload="IFrameResize()">
<div class="page-declare page-budget  page-common page-paper">
    <div class="main">
        <div class="item-left col-md-6 col-sm-6">
            <div class="screen-box">
                <div class="form-inline">
                    <p class="title-text">政府集中采购项目列表 <span>当前剩余可合并项：{{total}} 项</span></p>
                    <div class="row search-box">
                        <div class="form-group col-md-8 col-sm-8">
                            <label>合并类型</label>
                            <div class="type-box">
                                <select class="form-control input-sm left-types" size="2"
                                        ms-duplex="@req.MergeTypeWhenBudget"></select>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4  form-group year-box">
                            <label>年度</label>
                            <input type="text" class="form-control input-sm form-year" ms-duplex="@req.Year"
                                   ms-keydown="@submit" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="personnel-box">
                <div class="personnel-list">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th class="checkbox-box" ms-if="@req.MergeTypeWhenBudget">
                                    <div class="checkbox">
                                        <label class="bs-tooltip" href="javascript:;" title="全选" data-toggle="tooltip"
                                               data-placement="bottom">
                                            <input class="select-all" type="checkbox" ms-duplex-checked="@allcheckedLeft"
                                                   data-duplex-changed="@checkAll($event,@model)"/>
                                        </label>
                                    </div>
                                </th>
                                <th class="number">序号</th>
                                <!--<th>归口部门</th>-->
                                <th>申报项目</th>
                                <th>合并类型</th>
                                <th>数量</th>
                                <th>总价(元)</th>
                                <th>年度</th>
                                <th class="operation">操作</th>
                            </tr>
                            </thead>
                            <tbody ms-for="el in @model" ms-if="@loaded && @model!= null && @model.length != 0">
                            <tr>
                                <td rowspan="2" class="checkbox-box" ms-if="@req.MergeTypeWhenBudget">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="item-checkbox" ms-duplex-checked="el.checked"
                                                   data-duplex-changed="@checkOneLeft"/>
                                        </label>
                                    </div>
                                </td>
                                <td rowspan="2" class="number text-center">{{el.number}}</td>
                                <!--<td>{{el.BudgetProject.RelevantDepartmentName}}</td>-->
                                <td class="text-left">{{el.BudgetProject.Name}}</td>
                                <td>{{el.BudgetProject.MergeTypeWhenBudget}}</td>
                                <td>{{el.BudgetProject.allNumber}}</td>
                                <td>{{el.BudgetProject.budgetAmount|currency}}</td>
                                <td>{{el.BudgetProject.Year}}</td>
                                <td rowspan="2" class="operation">
                                    <ul>
                                        <li class="bs-tooltip btn-details" data-toggle="tooltip" data-placement="bottom"
                                            title="详情">
                                            <a data-toggle="modal" data-target=".modal-details"
                                               href="../budget_manage/budget_details.html"
                                               ms-on-click="@clickDetails(el)"
                                               onclick="changeUrlChoice(this,'.modal-details')">
                                                <i class="icon iconfont icon-16"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr ms-for="item in @el.Package" ms-if="@el.Package!=null&&@el.Package.length!=0">
                                <td colspan="5" class="text-left">
                                    <div class="tip-info">
                                        <ul>
                                            <li>
                                                <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                                                <span ms-if="item.DeclareDepartmentName">【{{item.DeclareDepartmentName}}】</span>
                                                {{item.ItemName}}/{{item.DeclareNumber}}/{{item.DeclareNumber*item.DeclareUnitPrice|currency}}
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ms-if="@nothing">
                        <p class="text-center"><img src="/Invite_bids/images/nothing-3.png"></p>
                    </div>
                </div>
                <div class="page paging text-center">
                    <div class="pager paging"></div>
                </div>
                <div class="footer" ms-if="@req.MergeTypeWhenBudget!=''">
                    <button type="button" class="btn btn-success" data-dismiss="modal" ms-on-click="@clickAdd">
                        <i class="icon iconfont icon-tianjia"></i> 添加
                    </button>
                </div>
            </div>
        </div>
        <div class="item-right  col-md-6 col-sm-6">
            <div class="screen-box">
                <div class="form-inline">
                    <p class="title-text">政府集中采购项目合并<span>当前已选项目：{{selectedModel.length}} 项</span></p>
                    <div class="row search-box">
                        <div class="form-group col-md-8 col-sm-8">
                            <label>合并类型</label>
                            <div class="type-box">
                                <span>{{@reqTwo.MergeTypeWhenBudget}}</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4  form-group year-box">
                            <label>年度</label>
                            <span>{{@req.Year}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="personnel-box">
                <div class="personnel-list">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th class="number">序号</th>
                                <!--<th>归口部门</th>-->
                                <th>申报项目</th>
                                <th>合并类型</th>
                                <th>数量</th>
                                <th>总价(元)</th>
                                <th>年度</th>
                                <th class="operation">操作</th>
                            </tr>
                            </thead>
                            <tbody ms-for="($index,el) in @selectedModel" ms-if="@selectedModel!= null && @selectedModel.length != 0">
                            <tr>
                                <td rowspan="2" class="number text-center">{{$index+1}}</td>
                                <!--<td>{{el.BudgetProject.RelevantDepartmentName}}</td>-->
                                <td class="text-left">{{el.BudgetProject.Name}}</td>
                                <td>{{el.BudgetProject.MergeTypeWhenBudget}}</td>
                                <td>{{el.BudgetProject.allNumber}}</td>
                                <td>{{el.BudgetProject.budgetAmount|currency}}</td>
                                <td>{{el.BudgetProject.Year}}</td>
                                <td rowspan="2" class="operation">
                                    <ul>
                                        <li class="bs-tooltip btn-del" data-toggle="tooltip" data-placement="bottom"
                                            title="删除">
                                            <a data-toggle="modal" data-target=".modal-del" href="javascript:;"
                                               ms-on-click="@selectedModel.remove(el),@addModel(el)">
                                                <i class="icon iconfont icon-shanchu1"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr ms-for="item in @el.Package" ms-if="@el.Package!=null&&@el.Package.length!=0">
                                <td colspan="5" class="text-left">
                                    <div class="tip-info">
                                        <ul>
                                            <li>
                                                <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                                                <span ms-if="item.DeclareDepartmentName">【{{item.DeclareDepartmentName}}】</span>
                                                {{item.ItemName}}/{{item.DeclareNumber}}/{{item.DeclareNumber*item.DeclareUnitPrice|currency}}
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ms-if="@selectedModel.length==0">
                        <p class="text-center"><img src="/Invite_bids/images/nothing-3.png"></p>
                    </div>
                </div>
                <div class="footer" ms-if="@selectedModel!= null && @selectedModel.length != 0">
                    <button type="button" class="btn btn-primary" ms-on-click="@clickSubmit">合并已选项目</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-add" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg"></div>
    </div>
    <div class="modal fade modal-details" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg"></div>
    </div>
</div>
</body>
</html>