<div class="modal-content ms-controller add-user" ms-controller="Add">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="NoPermissionModalLabel">{{@title}}</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="col-sm-12">
                <h5 class="title"><span>基本信息</span></h5>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        <i class="icon iconfont icon-text-sign icon-sign"></i>单位名称：
                    </label>
                    <div class="col-sm-8 department-box">
                        <input type="text" class="form-control unit-name" ms-duplex="@info.Name" ms-on-change="@inputVal('.unit-name')">
                        <span class="error-texe">单位名称不能为空！</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        <i class="icon iconfont icon-text-sign icon-sign"></i>联系人：
                    </label>
                    <div class="col-sm-8">
                        <select class="form-control contact" ms-on-change="@changeContact($event)">
                            <option value="">请选择</option>
                            <option ms-for="el in @users" ms-attr="{'value':@el.Id}">{{el.Name}}</option>
                        </select>
                        <span class="error-texe">请选择联系人！</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">联系方式：</label>
                    <div class="col-sm-8 tel">
                        <input type="text" class="form-control" ms-duplex="@info.ContactWay">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">单位电话：</label>
                    <div class="col-sm-8 tel">
                        <input type="text" class="form-control" ms-duplex="@info.ContactNumber">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">地址：</label>
                    <div class="col-sm-8 tel">
                        <input type="text" class="form-control" ms-duplex="@info.Address">
                    </div>
                </div>

            </div>
            <div class="col-sm-12 notice-content">
                <h5 class="title"><span>代理信息</span></h5>
                <div class="form-group">
                    <label class="col-sm-3 control-label">代理方式：</label>
                    <div class="col-sm-8">
                        <label class="radio-inline" ms-for="el in @categorys">
                            <input type="radio" name="categorys" ms-attr="{'value':@el.Value}" ms-duplex="@info.ProxyMode"> {{el.Value}}
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">代理开始时间：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-time start-time"
                               ms-duplex="@info.BeginDatetimeOfAgent">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">代理结束时间：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-time end-time" ms-duplex="@info.EndDatetimeOfAgent"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">综合评分(分)：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ms-duplex="@info.ComprehensiveScore" onkeyup="onlyNum(this)"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer submit-wrapper">
        <div class="form-group">
            <div class="submit-box text-center">
                <button type="button" class="btn btn-primary btn-submit" ms-on-click="@clickSubmit()">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ms-on-click="@clickBtnReturn">返回
                </button>
                <div class="tip-box"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/Invite_bids/js/system_manage/agency_manage/add_agency.js" ></script>
