@color: #87beff;
@colorActive: #308AF5;

@hack: ~"\9";

body {
  font-family: "Microsoft YaHei";
  min-width: 1024px;
  a {
    text-decoration: none;
    color: #fafafa;
    &:hover {
      text-decoration: none;
      color: #fafafa;
    }
  }
}

.page-login {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #24344b url("../images/bg.jpg") no-repeat 162px 178px;
  filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
  -moz-background-size: 761px 547px;
  background-size: 761px 547px;
  overflow-y: auto;
}

.logo-box {
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  .left {
    img {
      width: 125px;
      height: 38px;
    }
  }
}

.content {
  position: absolute;
  right: 20%;
  top: 10%;
  .title {
    text-align: center;
    img {
      width: 39px;
      height: 44px;
    }
    span {
      font-size: 24px;
      font-weight: bold;
      padding-top: 5px;
      margin-left: 5px;
      color: #fff;
    }
  }
  .form-login {
    width: 400px;
    height: 500px;
    margin-top: 10%;
    border: 1px solid @color;
    background: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    animation: main-move 0.6s;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#1b1b1b')";
    .form-title {
      margin: 80px 0 30px 0;
      text-align: center;
      font-size: 24px;
      color: @color;
    }
    .form-group {
      margin-bottom: 20px;
      overflow: hidden;
    }
    .control-label {
      color: #fafafa;
      font-size: 14px;
      font-weight: normal;
      float: left;
      padding: 8px 15px 0 0;
    }
    .input-box {
      position: relative;
      padding-left: 0;
      text-align: center;
      img {
        position: absolute;
        left: 52px;
        top: 12px;
        height: 18px;
        width: auto;
        z-index: 11;
      }
      input {
        padding-left: 40px;
        color: #999;
      }
    }
    .form-control {
      position: relative;
      height: auto;
      width: 320px;
      box-sizing: border-box;
      font-size: 14px;
      height: 40px;
      margin: 0 auto;
    }
    .form-control:focus {
      z-index: 2;
    }
    .checkbox {
      margin-top: -10px;
      margin-left: 40px;
      font-weight: normal;
      overflow: hidden;
      color: #999;
      font-size: 12px;
      .forget-password {
        float: right;
        &:hover {
          color: #f60;
        }
      }
    }

    .btn-login {
      margin: 40px auto 0;
      width: 320px;
      border-radius: 4px;
      background: @color;
      border-color: @color;
      height: 40px;
      display: block;
      &:hover {
        background: #1461ad;
        border-color: #1461ad;
      }
    }
    .login-tip {
      color: #f00;
      font-size: 14px;
      text-align: center;
      margin-bottom: 10px;
      position: absolute;
      top: 275px;
      left: 0;
      width: 100%;
    }
    .login-tip-success {
      color: #02ea38;
    }
    .tip {
      font-size: 14px;
      color: #666;
      margin-top: 95px;
      text-align: center;
      display: block;
    }
  }
  .support {
    font-size: 14px;
    color: #fff;
    margin-top: 10%;
    text-align: center;
  }
  .login-tip-show {
    .login-tip {
      display: block;
    }
    .btn-login {
      margin-top: 10px;
    }
  }

  .select-login {
    margin: 250px auto 0;
    width: 920px;
    animation: main-move2 1s;
    a {
      display: inline-block;
      margin: 0 50px;
      width: 320px;
      height: 160px;
      line-height: 160px;
      color: #fff;
      font-size: 40px;
      text-align: center;
      background: rgba(0, 0, 0, 0.25);
      background: #1976D2 @hack;
      border-radius: 12px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
      text-align: center;
      overflow: hidden;
      i {
        font-size: 70px;
        margin-right: 10px;
        padding-top: 8px;
        padding-left: 62px;
        float: left;
      }
      span {
        float: left;
      }
      &:hover {
        background: #7bb92d;
      }
    }
    .task {
      i {
        font-size: 62px;
      }
    }
    .task:hover {
      background: @color;
    }
  }
}

@keyframes main-move {
  from {
    top: 0;
  }
  to {
    top: 306px;
  }
}

@keyframes main-move2 {
  from {
    margin-top: 500px;
  }
  to {
    margin-top: 250px;
  }
}
@media (min-width: 992px) and (max-width: 1366px) {
  .content{
  }



}





